html{
     font-family: 'Raleway', sans-serif;
     font-size: 20pt;
}
.green{
     color: rgb(0,100,55);
}
.blackbg{
     background: black;
     color: rgb(108,209,249);
}
header{
     margin:0;
     padding:0;
}
.title {
     font-size: 3.5rem;
     font-weight: 100;
     padding: 50px 0;
     text-transform: uppercase;
}
.kim{
     margin: 0;
}
.rodriguez{
     text-decoration: underline;
     font-weight: 400;
     margin: 0;
}
.subtitle {
     font-size: 1.5rem;
     text-transform: uppercase;
     text-align: center;
     font-weight: 100;
     padding: 80px;
}
.subheading {
     font-size: 1.5rem;
     margin: 50px 0;
     text-transform: uppercase;
     text-align: center;
     font-weight: 100;
}
nav{
     border-bottom: 1pt solid black;
}
.nav-link{
     color: black;
     padding: 10px 40px;
}
section{
     margin-bottom: 50px;
}
.carousel-inner{
     border: 1pt solid black;
}
.carousel-item {
     height: 500px;
}
.carousel-item > img{
     width: 100%;
}
.d-block{
     margin: auto;
}

#selfimg{
     width: 40%;
     border: 2pt solid black;
}
#contact .container {

}
.icon > img{
     padding: 0;
     width: 100%;
}
footer{
     font-size: .75em;
}


/* MEDIA QUERIES */

@media (max-width: 600px) {
     html{
          font-size: 18pt;
     }
     .heading {
          padding: 40px 0;
     }
     .nav-link{
          padding: 10px;
     }
}

@media (max-width: 750px) {
     .title{
          font-size: 2.5rem;
     }
     .nav-link{
          padding: 10px;
     }
     .container > .icon{
          padding: 5px;
     }
}
