body {
  font-family: Georgia;
  font-size: 18px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

#headshot {
  margin: 10px;
}

.main_header {
  background: #FFFFFF;
  height: 150px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 0 20px 0 #000000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#title {
  display: flex;
  align-items: baseline;
}

#skills {
  font-size: 20px;
}

main {
  background: linear-gradient(#FFFFFF, #F5CBA7, #E67E22);
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin: 10px;
  width: 250px;
  height: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav a {
  font-size: 16px;
  margin: 5px;
}

h1 {
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

#portfolio {
  background: black;
  color: white;
  opacity: .8;
  display: flex;
  height: 450px;
  width: 90%;
  flex-wrap: wrap;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid black;
}

.site:hover {
  transform: scale(1.1);
  border: 3px solid #F5CBA7;
}

#portfolio_text {
  width: 100%;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#portfolio_text p{
  margin: 0;
}

.site {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #F5CBA7;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact div {
  display: inline-flex;
  justify-content: center;
  height: 75px;
}

#contact p, #contact a {
  padding: 10px;
  color: black;
}

a.contact_link:hover {
  font-weight: bold;
}

footer {
  font-size: 16px;
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
