html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  font-family: Georgia;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

.main_header {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 0 20px 0 #000000;
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullscreen .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main_header .fullscreen {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin: .5rem;
}

.title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 0 1rem;
  font-size: 1.5rem;
}

.subtitle, .title h1 {
  margin: 0;
}

.skills {
  font-size: 1.125rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

main {
  background: linear-gradient(#FFFFFF, #F5CBA7, #E67E22);
  margin-top: 11rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin: 10px;
  width: 250px;
  height: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav a, #contact a {
  color: black;
  margin: 10px;
}

#portfolio {
  background: black;
  color: white;
  opacity: .8;
  display: flex;
  height: 450px;
  width: 90%;
  flex-wrap: wrap;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid black;
}

.site:hover {
  transform: scale(1.1);
  border: 3px solid #F5CBA7;
}

#portfolio_text {
  width: 100%;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#portoflio p {
  font-size: 1.5rem;
}

#portfolio_text p {
  margin: 0;
}

.site {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #F5CBA7;
}

figcaption {
  padding: 7px;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 75px;
  margin: 10px;
}

#contact p {
  padding: 10px;
  color: black;
}

a.contact_link:hover {
  font-weight: bold;
}

footer {
  font-size: 16px;
  margin: 10px;
  display: flex;
  height: 150px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabletview {
  display: none;
}


/*RESPONSIVENESS*/

@media screen and (max-width: 790px) {

.fullscreen div, .fullscreen span, .fullscreen nav {
    display: none;
  }

.tabletview {
  display: flex;
}

.tabletview .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portfolio_text h1, #portfolio_text p{
  padding: 0;
  margin: 0;
}

}
